*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: rgb(157, 65, 65);
    height: fit-content;

}
a{
    text-decoration: none;
}
div#home-page{
    width: 100vw;
    overflow-x: hidden;
    /* margin-top: 50px; */
}