div.post-carousel-container{
    background-color: #F9F9F9;
    /* width: max-content; */
    padding: 0;
    width: 300px;
}
/* .owl-stage-outer{
    direction: ltr;
} */
div.post-carousel-container div.close{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    margin-bottom: 30px;


}
div.post-carousel-container div.close>h4::before{
    content: "|";
    /* border: 2px solid red; */
    height: 100%;
    width: 2px;
    background-color: red;
    color: red;
    /* fill: red; */
    border-radius: 30px;
    margin-left: 5px;

}
div.post-carousel-container div.close>h4{
    font-family: 'iransans';
    font-weight: 300;
    /* position: relative; */
    font-size: 16px;
    background-color: #F9F9F9;
    width: fit-content;
    margin: 0;
    /* padding: 10px; */
    position: relative;
    z-index: 1;
    padding: 0;
    padding-left: 5px;

}
div.post-carousel-container div.close>hr{
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 0;
}
div.post-carousel-container div.close>a{
    width: fit-content;
    outline: none;
    border: none;
    background-color: #F9F9F9;
    font-family: 'iransans';
    font-weight: 300;
    position: relative;
    font-size: 13px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 0;
    padding-right: 10px;
    color: #333;

}
div.post-carousel-container div.close>a>svg{
    fill: red;

}
div.post-carousel-container div.buttons>div{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    /* padding: 0 10px; */
}
div.post-carousel-container div.buttons>div>button{
    border: none;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    font-family: 'iransans';
    font-size: 13px;
    border-radius: 30px;
    margin-bottom: 10px;

}


div.post-carousel-container div.post-carousel{
    padding: 0;
    /* background-color: brown; */
    gap: 15px;
    position: relative;
    display: flex;
}
div.post-carousel-container div.post-carousel>button{
    border: none;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: unset;
}
div.post-carousel-container div.post-carousel>button.swiper-prev{
    position: absolute;
    right: -30px;

}
div.post-carousel-container div.post-carousel>button.swiper-next{

    position: absolute;
    left: -30px;

}
div.post-carousel-container div.post-carousel div.post-card{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.178);

}
div.post-carousel-container div.post-carousel div.swiper{
    /* background-color: green; */
    padding: 10px 0;
}
div.post-carousel-container div.post-carousel div.post-card>a{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 5px;

    /* align-self: normal; */
}
div.post-carousel-container div.post-carousel div.post-card>a div.image{
    aspect-ratio: 300/200;
    width: 100%;
    /* background-color: brown; */
    /* height: 100%; */
}
div.post-carousel-container div.post-carousel div.post-card>a div.image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
div.post-carousel-container div.post-carousel div.post-card>a div.caption{
    /* background-color: pink; */
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */

}
div.post-carousel-container div.post-carousel div.post-card>a div.caption>div.title>h4{
    width: 100%;
    /* background-color: yellow; */
    margin: 0;
    padding: 0;
    font-family: 'iransans';
    font-size: 14px;
    color: #444;
    line-height: 1.7rem;
}

div.post-carousel-container div.post-carousel div.post-card>a div.bottom{
    /* background-color: burlywood; */
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
div.post-carousel-container div.post-carousel div.post-card>a div.bottom>div.right{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
div.post-carousel-container div.post-carousel div.post-card>a div.bottom>div.right>span{

    display: flex;
    align-items: center;
    justify-content:start;
    gap: 5px;
    color: #444;
    font-family: 'iransans';
    font-size: 13px;
    font-weight: 200;
}
div.post-carousel-container div.post-carousel div.post-card>a div.bottom>div.left{
    color: #444;
}

div.post-carousel-container div.post-carousel div.swiper-button-next,
div.post-carousel-container div.post-carousel div.swiper-button-prev{
    display: none;
}

